################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ADONetHelper
/ADONetHelper/bin
/ADONetHelper/obj
/ADONetHelper.DB2/bin/Release
/ADONetHelper.DB2/obj
/ADONetHelper.Firebird/bin
/ADONetHelper.Firebird/obj
/ADONetHelper.MySql/bin
/ADONetHelper.MySql/obj
/ADONetHelper.ASE/bin/Release/netstandard2.0
/ADONetHelper.ASE/obj
/ADONetHelper.NuoDb/bin
/ADONetHelper.NuoDb/obj
/ADONetHelper.Odbc/bin
/ADONetHelper.Odbc/obj
/ADONetHelper.Oledb/bin
/ADONetHelper.Oledb/obj
/ADONetHelper.Oracle/bin
/ADONetHelper.Oracle/obj
/ADONetHelper.Postgres/bin
/ADONetHelper.Postgres/obj
/ADONetHelper.Providers/bin
/ADONetHelper.Providers/obj/Debug
/ADONetHelper.Providers/obj
/ADONetHelper.Sqlite/bin
/ADONetHelper.Sqlite/obj
/ADONetHelper.SqlServer/bin
/ADONetHelper.SqlServer/obj
/ADONetHelper.Teradata/bin
/ADONetHelper.Teradata/obj
/ADONetHelper.Tests
/bin
/obj
/ADONetHelper.ASE/bin/Release
/ADONetHelper.Snowflake/bin/Release/netstandard2.0
/ADONetHelper.Snowflake/obj
/ADONetHelper.Snowflake/bin/Release/net46
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/ADONetHelper.Snowflake/bin/Release
/.vs
/ADONetHelper.Tests.NetCore
/ADONetHelper.Core/bin/Debug
/ADONetHelper.Core/obj
/ADONetHelper.Core/bin/Release
/ADONetHelper.Polly/bin
/ADONetHelper.Polly/obj
/ADONetHelper.Polly.Tests/bin
/ADONetHelper.Polly.Tests/obj/Debug/netcoreapp3.0
/ADONetHelper.Polly.Tests/obj/Release/netcoreapp3.0
/ADONetHelper.Polly.Tests/obj
